body {
    background-color: rgb(169, 169, 169);
}

.timeline {
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: sans-serif;

}

.card-one {
    background-color: #ffffff;
    height: 250px;
    margin-right: 20px;
    width: 400px;
    transform: translate(60%, 15%);
}   

.timeline-bar {
    background-color: #0000ff;
    height: 1000px;
    position: relative;
}

.timeline-point-one {
    position: absolute;
    top: 0;
    left: 50%;
}

.card-two {
    background-color: #ffffff;
    height:fit-content;
    margin-left: 53px;
    width: 400px;
    transform: translateY(100%);
    position: relative;
    border-radius: 5px;
}

.pic-one {
    width: 100%;


    
}

.card-three {
    background-color: #ffffff;
    height: fit-content;
    width: 400px;
    transform: translate(60%, -140%);
    
}

.date-two {
    position: absolute;
    top: 0;
    margin: 0;
    background-color: rgb(247, 61, 89);
    width: 120px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 40px;
}

.title-two {
    position: absolute;
    top: 120px;
    left: 15px;
    color: #2a2a2a;
}

.text-two {
    
}